/* .movies {
  width: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  margin: 0px;
  padding: 70px 0px 28px 0px;
} */

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
  /* При разрешении выше 768px */
  /* .main__section_header {
    font-size: 22px;
    line-height: 27px;
    padding: 90px 0px 23px 0px;
  } */
}

@media screen and (min-width: 1280px) {
  /* При разрешении выше 1280px */
  /* .main__section_header {
    padding: 110px 0px 23px 0px;
  } */
}