.main__aboutProject_subtitle {
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  margin: 16px 0px 56px 0px;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
  /* При разрешении выше 768px */
  .main__aboutProject_subtitle {
    font-size: 12px;
    line-height: 18px;
    margin: 22px 0px 93px 0px;
  }
}

@media screen and (min-width: 1280px) {
  /* При разрешении выше 1280px */
  .main__aboutProject_subtitle {
    font-size: 14px;
    line-height: 20px;
    margin: 26px 0px 110px 0px;
  }
}