.main__aboutProject_shema {
  display: grid;
  grid-template-columns: 100px 184px;
  grid-template-rows: 35px 23px;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
  /* При разрешении выше 768px */
  .main__aboutProject_shema {
    grid-template-columns: 140px 528px;
    grid-template-rows: 36px 31px;
  }
}

@media screen and (min-width: 1280px) {
  /* При разрешении выше 1280px */
  .main__aboutProject_shema {
    grid-template-columns: 228px 912px;
  }
}