.main__aboutProjec_title {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  margin: 0px;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
  /* При разрешении выше 768px */
  .main__aboutProjec_title {
    font-size: 20px;
    line-height: 24px;
  }
}