.main__aboutProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 18px;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
  /* При разрешении выше 768px */
  .main__aboutProject {
    padding: 0px 50px;
  }
}

@media screen and (min-width: 1280px) {
  /* При разрешении выше 1280px */
  .main__aboutProject {
    padding: 0px 70px;
  }
}