.main__aboutProject_shema-type2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  margin: 0px;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
  /* При разрешении выше 768px */
  .main__aboutProject_shema-type2 {
    font-size: 14px;
    line-height: 17px;
  }
}