.main__aboutProject_block {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  border-top: 1px solid #DADADA;
  padding-top: 60px;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
  /* При разрешении выше 768px */
  .main__aboutProject_block {
    flex-direction: row;
    padding-top: 70px;
  }
}