.app {
  margin: 0px auto 0px auto;
  background: #202020;
  min-height: 100vh;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  color: #FFFFFF;
  text-rendering: optimizeLegibility;
}