.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 18px;
}

.portfolio__header {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #A0A0A0;
  mix-blend-mode: normal;
  margin: 0px;
}

.portfolio__links {
  display: grid;
  justify-content:space-between;
  grid-template-columns: auto auto;
  grid-template-rows: 35px 23px;
  margin: 40px 0px 70px 0px;
}

.portfolio__link {
  color: #FFFFFF;
  text-decoration-line: none;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
  /* При разрешении выше 768px */
  .portfolio {
    padding: 0px 50px;
  }
}

@media screen and (min-width: 1280px) {
  /* При разрешении выше 1280px */
  .portfolio {
    padding: 0px 70px;
  }
}