.main__techs_list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 84px);
  grid-auto-rows: 57px;
  grid-gap: 10px;
  margin: 0px;
  padding: 0px 20px 70px 20px;
  list-style: none;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
  /* При разрешении выше 768px */
  .main__techs_list {
    padding: 0px 0px 90px 0px;
  }
}