.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #073042;
  padding: 0px 14px;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
  /* При разрешении выше 768px */
  .header {
    padding: 0px 30px;
  }
}

@media screen and (min-width: 1280px) {
  /* При разрешении выше 1280px */
  .header {
    padding: 0px 70px;
  }
}