.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #8B8B8B;
  margin: 18px 0px 0px 0px;
  order: 2;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
  /* При разрешении выше 768px */
  .footer__copyright {
    margin: 0px;
    order: 1;
  }
}