.footer {
  display: flex;
  padding: 0px 19px 36px 19px;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: calc(282px * 2 + 18px)) {
      /* При ширине в две карточки */
  .footer {
    padding: 0px 0px 60px 0px;
  }
}