.main__promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #073042;
  padding: 0px 10px;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
  /* При разрешении выше 768px */
  .main__promo {
    padding: 0px 44px;
  }
}

@media screen and (min-width: 1280px) {
  /* При разрешении выше 1280px */
  .main__promo {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 70px;
  }
}