.searchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 4px 0px;
}

.searchForm__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0;
  width: 100%;
  height: 46px;
  background-color: #2F2F2F;
  border-radius: 40px;
  margin: 80px 0px 42px 0px;
}

.searchForm__input {
  border: 0;
  max-width: 70%;
  height: 46px;
  box-sizing: border-box;
  background-color: #2F2F2F;
  margin: 0px 0px 0px 19px;
  font-weight: normal;
  font-size: 11px;
  line-height: 17px;
  color: #8B8B8B;
}

.searchForm__button {
  border: 0;
  width: 58.65px;
  height: 34px;
  padding: 0px;
  margin-right: 6px;
  box-sizing: border-box;
  background-color: #4285F4;
  border-radius: 48px;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.searchForm__button:hover {
  opacity: 0.6;
}

/* Основной код для разрешения 320px */
@media screen and (min-width: 768px) {
  /* При разрешении выше 768px */
  .searchForm__input {
    max-width: 85%;
    font-size: 13px;
  }
}

@media screen and (min-width: 1280px) {
  /* При разрешении выше 1280px */
  .searchForm__form {
    margin: 60px 0px 42px 0px;
  }

  .searchForm__input {
    max-width: 90%;
    font-size: 13px;
  }
}